.container-navbar{
    padding-top: 100px;
    background-color: #F1F3FF;
}
  
.navbar{
    width: 1440px;
    margin: 0 auto !important; 
    float: none !important; 
    padding-left: 136px;
    padding-right: 249px;
    /* padding-right: 249px; */
    padding-top: 20px;
}

.navbar-judul:hover{
    background-color: #1033cf;
}

.navbar-brand{
    background-color:#0D28A6 ;
    padding-left: 10px;
    padding-right: 10px;
    color:#0D28A6 !important;
}

.navbarItem{
    display: flex;
    justify-content: flex-end;
}
.container-sidebar{
    visibility: hidden;
}

@media screen and (max-width:1000px){
    .navbar{
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    } 
    .wrapper-sidebar ul{
        background-color: #f1f1f1;
        width: 180px;
        position: fixed;
        height: 100%;
        overflow: auto;
        right: 0;
        top: 0;
        background: #FFFFFF;    
        box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    }
    .button-close{
        float: right;
        width: auto;
    }
    .first-to-button{
        display: inline-block;
    }
    .fa-times{
        height: 100px;
    }
    .navbar-nav{
        padding-left: 16px;
        padding-top: 20px;
    }
    .title-sidebar{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #000000 !important;
    }
    .title-first{
        display: inline-block;
    }
    .title-first img{
        float: right;
        padding-right: 30px;
        margin-top: 5px;
    }
    .sidebar-funct a{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000 !important;
    }
    .container-sidebar{
        visibility:visible;
    }

}