.container-promosi{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1440px;
    margin-left: auto !important; 
    margin-right: auto !important; 
    float: none !important; 
}
.image-promosi{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:50px;
}

.container-our-service{
    width: 468px;
    height: 376px;
  }
  
.text-our-service{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text-our-service h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.text-our-service h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.top-services{
    margin-top: 16px;
}

.eachServices{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
  
.eachServices img{
    height: 24px;
}

@media screen and (max-width:1000px){
    .image-promosi img{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        width: 252px;
        height: 228px;
    }
    .container-promosi{
        width: 100%;
        margin-top: 60px;
    }
    .image-promosi{
        display: flex;
        justify-content: center;
    }
    .text-our-service{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-our-service{
        padding-left: 4px;
        padding-right: 16px;
    }
}