.container-question{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wrapper-question{
    width: 1168px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.dropdown-question{
    padding-right: 0px;
}

.container-all-question{
    margin-top: 100px;
}

.dropdown-wrapper{
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.desc-question h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    
}
.desc-question h6{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width:1000px){
    .wrapper-question{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    .desc-question{
        text-align: center;
    }
    .dropdown-wrapper{
        padding: 0;
        align-items: center;
        justify-content: flex-start;
    }
    .container-question{
        padding-left: 16px;
        padding-right: 16px;
    }
    .container-all-question{
        margin-top: 40px;
    }
}

